.u-section-1 .u-sheet-1 {
  min-height: 548px;
}

.u-section-1 .u-products-1 {
  margin: 40px auto 40px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 468px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-1 .u-image-1 {
  height: 350px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px;
}

.u-section-1 .u-image-2 {
  height: 350px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-1 .u-image-3 {
  height: 350px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 20px;
}

.u-section-1 .u-image-4 {
  height: 350px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-products-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 229px;
  }

  .u-section-1 .u-image-2 {
    height: 229px;
  }

  .u-section-1 .u-image-3 {
    height: 229px;
  }

  .u-section-1 .u-image-4 {
    height: 229px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    height: 338px;
  }

  .u-section-1 .u-image-2 {
    height: 338px;
  }

  .u-section-1 .u-image-3 {
    height: 338px;
  }

  .u-section-1 .u-image-4 {
    height: 338px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1263px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 563px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 563px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 563px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 563px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 350px;
  }

  .u-section-1 .u-image-2 {
    height: 350px;
  }

  .u-section-1 .u-image-3 {
    height: 350px;
  }

  .u-section-1 .u-image-4 {
    height: 350px;
  }
}