 .u-section-1 {
  background-image: linear-gradient(45deg, #f1c50e, #580fbf);
}

.u-section-1 .u-sheet-1 {
  min-height: 646px;
}

.u-section-1 .u-shopping-cart-1 {
  height: 55px;
  width: 55px;
  margin: 10px auto 0 -27px;
}

.u-section-1 .u-icon-1 {
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 15px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 421px;
}

.u-section-1 .u-container-layout-1 {
  padding: 2px 20px;
}

.u-section-1 .u-text-1 {
  margin: 28px 10px 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0 21px;
}

.u-section-1 .u-text-3 {
  margin: 0 10px;
}

.u-section-1 .u-text-4 {
  margin: 28px 10px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  margin: 22px auto 0;
  padding: 10px 60px 10px 58px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 421px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  background-image: none;
  margin: 30px auto 0;
  padding: 10px 60px 10px 58px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 421px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  margin: 0;
}

.u-section-1 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-11 {
  margin: 0;
}

.u-section-1 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  background-image: none;
  margin: 30px auto 0;
  padding: 10px 60px 10px 58px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 421px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-13 {
  margin: 0;
}

.u-section-1 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-15 {
  margin: 0;
}

.u-section-1 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  background-image: none;
  margin: 30px auto 0;
  padding: 10px 60px 10px 58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-1 .u-shopping-cart-1 {
    margin-top: -57px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 82px;
    margin-left: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 347px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 41px;
    padding-left: 41px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 347px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 41px;
    padding-left: 41px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 347px;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 41px;
    padding-left: 41px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 347px;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 41px;
    padding-left: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-1 .u-shopping-cart-1 {
    margin-top: 307px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -282px;
    margin-left: 210px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 0;
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 106px;
    padding-left: 104px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 1;
    min-height: 100px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 106px;
    padding-left: 104px;
  }

  .u-section-1 .u-layout-cell-3 {
    order: 3;
    min-height: 100px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 106px;
    padding-left: 104px;
  }

  .u-section-1 .u-layout-cell-4 {
    order: 2;
    min-height: 100px;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 105px;
    padding-left: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1 .u-shopping-cart-1 {
    margin-top: 979px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -954px;
    margin-left: 300px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-4 {
    padding-left: 124px;
    padding-right: 124px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shopping-cart-1 {
    margin-top: 903px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -878px;
    margin-left: 400px;
  }

  .u-section-1 .u-btn-1 {
    padding-left: 117px;
    padding-right: 117px;
  }

  .u-section-1 .u-btn-2 {
    padding-left: 117px;
    padding-right: 117px;
  }

  .u-section-1 .u-btn-3 {
    padding-left: 117px;
    padding-right: 117px;
  }

  .u-section-1 .u-btn-4 {
    padding-left: 117px;
    padding-right: 117px;
  }
}