.u-section-1 .u-sheet-1 {
  min-height: 613px;
}

.u-section-1 .u-slider-1 {
  width: 758px;
  min-height: 478px;
  height: auto;
  margin: 68px auto 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Screenshot_20220509-170839_WhatsApp.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 27px 60px;
}

.u-section-1 .u-text-1 {
  margin: 3px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-image-2 {
  width: 230px;
  height: 230px;
  margin: 70px auto 0;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/taiga.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-1 .u-text-2 {
  margin: 144px auto 0 276px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 18px auto 0 259px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 18px auto 0 290px;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1 .u-slider-1 {
    width: 606px;
    min-height: 440px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 207px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 194px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 410px;
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 162px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 152px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 171px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-slider-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 100px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 94px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 105px;
  }
} .u-section-2 {
  background-image: linear-gradient(45deg, #db545a, #478ac9);
}

.u-section-2 .u-sheet-1 {
  min-height: 644px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1308px;
  margin: 86px auto 0 -101px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 410px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 410px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.25rem;
  margin: 130px auto 0;
  padding: 10px 60px 10px 58px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 410px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
  padding: 10px 60px 10px 58px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 410px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 54px auto 47px 469px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 295px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 295px;
  }

  .u-section-2 .u-btn-1 {
    padding-right: 41px;
    padding-left: 41px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 295px;
  }

  .u-section-2 .u-btn-2 {
    padding-right: 41px;
    padding-left: 41px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 295px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 386px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1135px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    order: 0;
    min-height: 452px;
  }

  .u-section-2 .u-layout-cell-2 {
    order: 1;
    min-height: 100px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
    padding-right: 106px;
    padding-left: 104px;
  }

  .u-section-2 .u-layout-cell-3 {
    order: 3;
    min-height: 100px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 106px;
    padding-left: 104px;
  }

  .u-section-2 .u-layout-cell-4 {
    order: 2;
    min-height: 452px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 296px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1690px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 678px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 678px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 222px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1188px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-2 .u-btn-1 {
    padding-left: 117px;
    padding-right: 117px;
  }

  .u-section-2 .u-btn-2 {
    padding-left: 117px;
    padding-right: 117px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 427px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 140px;
  }
}